body {
	background: #DBC6EB;
	color:  rgb(30,30,30);
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
h1,h2 {
	font-family: 'Bebas Neue', cursive;
}
h1 {
	color: #700B97;
}
h2{
	color: #8E05C2;
	font-size: 35px;
}
a{
	text-decoration: none;
	color: #700B97;
}
a:hover{
	color: black;
}

ul:hover{
	color: black;
}
img {
	border-radius:  50%;
	box-shadow: 5px 5px 7px #700B97;
}
div{
	background: #C9B6E4;
	padding: 30px;
	margin: 80px;
	border-radius: 4px;
	box-shadow: 5px 5px 7px #700B97 ;
}
.btn-purple {
	background:#C9B6E4;
	padding: 10px 15px;
	border-radius: 4px;
}
.list-inline {
	liste-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 60px;
}
@media (max-width: 960px) {
	.container {
		width: 700px;
	}	
}
@media (max-width: 720px) {
	.container {
		width: 500px;
	}	
}

@media (max-width: 540px) {
	.container {
		width: 300px;
	}	
}
